<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit-details" method="post">

<!-- 
        ///////////http verbs////////////
1.	Get- to extract the resource
2.	Post- to create a resource
3.	Put- to fully update a resource
4.	Patch- to partial update a resource
5.	Delete- to delete a resource -->



        <label for="name">Name:</label>
        <input type="text" id="name" name="name2">
        <br><br>
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone">

        <button>submit</button>
    </form>
</body>
</html>